/*.dark {
	background-image: url("flag2.jpg");
	background-repeat: no-repeat;
	background-size: 100vmax;
	opacity: .4;
	float:left;
}
*/

body {
	background-image: url("background.png");

}


h2 {
	width:100%;
	text-align:center;
}

h4 {
	width:100%;
	text-align:center;
}

/*#container {

}*/

#container {
	display: flex;
	justify-content: center;
}

#container2 {
	display: flex;
	justify-content: center;
}

#formDiv {
	width:100%;
	display: flex;
	justify-content: center;
}

#buttonDiv{
	display: flex;
	justify-content: center;
}

